name: Create New Repository

on:
  workflow_dispatch:
    inputs:
      new_repo_name:
        description: 'Name of the new repository'
        required: true
      private:
        description: 'Should the new repository be private? (true/false)'
        type: choice
        required: false
        default: 'true'
        options:
          - true
          - false

jobs:
  create-repo:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_PAT }}  # Personal Access Token with repo scope
      OWNER: ${{ github.repository_owner }}
      NEW_REPO: ${{ github.event.inputs.new_repo_name }}
      IS_NEW_REPO_PRIVATE: ${{ github.event.inputs.private }}
    steps:
      - name: Create new repository
        run: |
          echo "Creating repository '$NEW_REPO' in the organization '$OWNER'"
          curl --fail-with-body -X POST -H "Authorization: token $GH_TOKEN" \
            -d "{\"name\":\"$NEW_REPO\", \"private\": $IS_NEW_REPO_PRIVATE}" \
            https://api.github.com/orgs/$OWNER/repos
          echo "Repository '$NEW_REPO' created successfully."

  populate-repo:
    needs: create-repo
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_PAT }}  # Personal Access Token with repo scope
      OWNER: ${{ github.repository_owner }}
      NEW_REPO: ${{ github.event.inputs.new_repo_name }}
      CURRENT_REPO: ${{ github.event.repository.name }}
    steps:
      - name: Checkout template repository
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Clone the newly created repo
        run: |
          REPO_URL="https://x-access-token:$GH_TOKEN@github.com/$OWNER/$NEW_REPO.git"
          cd ..
          git clone $REPO_URL

      - name: Copy template repo to newly created repo
        run: |
          cd ..
          rsync -av --exclude='.git' $CURRENT_REPO/ $NEW_REPO/

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Download plusminus-replacer
        run: |
          cd ../$NEW_REPO
          wget https://github.com/plusminus-software/plusminus-replacer/releases/latest/download/plusminus-replacer.jar

      - name: Create replacer.yml
        run: |
          cd ../$NEW_REPO
          echo "- from: lorem" > replacer.yml
          echo "  to: foobar" >> replacer.yml

      - name: Run plusminus-replacer
        run: |
          cd ../$NEW_REPO
          java -jar plusminus-replacer.jar

      - name: Push first commit to newly created repo
        run: |
          cd ../$NEW_REPO
          rm plusminus-replacer.jar
          rm replacer.yml
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Initial commit"
          git push -u origin main

      - name: Clean up
        run: |
          cd ..
          rm -rf $NEW_REPO